{{- if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "fedora")) -}}
#!/bin/bash

{{- $packages := list
    "containerd.io"
    "dnf-plugins-core"
    "docker-buildx-plugin"
    "docker-ce"
    "docker-ce-cli"
    "docker-compose-plugin"
    "gcc"
    "gcc-c++"
    "icu"
    "jq"
    "libicu"
    "zsh"
}}

{{ .sudo -}}dnf update -x 'kernel*' -y

# Add docker repository
{{ .sudo -}}dnf config-manager --add-repo https://download.docker.com/linux/fedora/docker-ce.repo

    {{- if ne ($packages | len) 0 }}
{{ .sudo -}}dnf install \
        {{- range $packages -}}
            {{- if (lookPath . | not) }}
    {{ . }} \
            {{- end }}
        {{- end }}
    -y
    {{- end }}

{{ .sudo -}}systemctl enable --now docker.service

{{- end }}
