{{- if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu")) -}}
#!/bin/bash

{{- $packages := list
    "build-essential"
    "containerd.io"
    "docker-buildx-plugin"
    "docker-ce"
    "docker-ce-cli"
    "docker-compose-plugin"
    "gcc"
    "icu-devtools"
    "libicu-dev"
    "procps"
    "software-properties-common"
    "zsh"
}}

[ -d /etc/apt/keyrings ] || {{ .sudo -}}mkdir -p /etc/apt/keyrings

  {{- if (stat "etc/apt/sources.list.d/docker.list" | not) }}
# Add docker repository
{{ .sudo -}}curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable" | \
  {{ .sudo -}}tee /etc/apt/sources.list.d/docker.list > /dev/null
  {{- end}}

sudo sed -i "s/#\$nrconf{restart} = 'i';/\$nrconf{restart} = 'a';/" /etc/needrestart/needrestart.conf

{{ .sudo -}}apt update
{{ .sudo -}}apt upgrade -y
{{ .sudo -}}apt install -y {{ $packages | join " " }}

{{ .sudo -}}systemctl enable --now docker.service

{{- end }}
