{{- if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "fedora")) -}}
#!/bin/bash

{{- $packages := list
    "bat"
    "bottom"
    "curl"
    "dnf-plugins-core"
    "exa"
    "eza"
    "fd-find"
    "fzf"
    "gcc"
    "gcc-c++"
    "git"
    "git-absorb"
    "git-age"
    "git-delta"
    "git-extras"
    "git-lfs"
    "htop"
    "icu"
    "jq"
    "just"
    "libicu"
    "neovim"
    "nodejs"
    "ripgrep"
    "tmux"
    "unzip"
    "vifm"
    "zsh"
}}

{{ .sudo -}}dnf update -y

# Add bottom copr
{{ .sudo -}}dnf copr enable atim/bottom -y

# Add prskr repository for git-age
curl https://api.github.com/users/prskr/gpg_keys | jq -r '.[] | select (.key_id=="1A80DDB584AF7DA7") | .raw_key' | {{ .sudo -}}tee /tmp/prskr.gpg > /dev/null
{{ .sudo -}} rpm --import /tmp/prskr.gpg
{{ .sudo -}}dnf config-manager --add-repo https://code.icb4dc0.de/api/packages/prskr/rpm.repo

    {{- if ne ($packages | len) 0 }}
{{ .sudo -}}dnf install \
        {{- range $packages -}}
            {{- if (lookPath . | not) }}
    {{ . }} \
            {{- end }}
        {{- end }}
    -y
    {{- end }}

{{- end }}
