{{- if (lookPath "starship" | not) -}}
#!/bin/bash

    {{- if eq .chezmoi.os "darwin" }}
brew install starship
    {{- else if eq .chezmoi.os "linux" }}
curl -sS https://starship.rs/install.sh | \
    {{ if ne .chezmoi.uid "0" }}sudo {{ end -}}sh -s -- --yes --bin-dir "/usr/local/bin"
    {{ end }}
{{ end }}
