{{- if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu")) -}}
#!/bin/bash

{{- $packages := list
    "bat"
    "build-essential"
    "containerd.io"
    "curl"
    "docker-buildx-plugin"
    "docker-ce"
    "docker-ce-cli"
    "docker-compose-plugin"
    "eza"
    "fd-find"
    "fzf"
    "git"
    "git-absorb"
    "git-age"
    "git-extras"
    "git-lfs"
    "htop"
    "icu-devtools"
    "jq"
    "just"
    "libicu-dev"
    "neovim"
    "nodejs"
    "npm"
    "ripgrep"
    "tmux"
    "unzip"
    "vifm"
    "zsh"
}}

[ -d /etc/apt/keyrings ] || {{ .sudo -}}mkdir -p /etc/apt/keyrings

  {{- if (stat "/etc/apt/sources.list.d/forgejo.list" | not) }}
# Add prskr repository for git-age
# distribution is currently only bookworm - but should work for other debian based distributions as well
echo "deb https://code.icb4dc0.de/api/packages/prskr/debian bookworm main" | \
  {{ .sudo -}}tee -a /etc/apt/sources.list.d/forgejo.list
{{ .sudo -}}curl https://code.icb4dc0.de/api/packages/prskr/debian/repository.key -o /etc/apt/trusted.gpg.d/forgejo-prskr.asc
  {{- end }}

  {{- if (stat "/etc/apt/sources.list.d/prebuilt-mpr.list" | not) }}
wget -qO- https://proget.makedeb.org/debian-feeds/prebuilt-mpr.pub | \
  {{ .sudo -}}gpg --dearmor -o /etc/apt/keyrings/prebuilt-mpr-archive-keyring.gpg
echo "deb [arch=all,$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/prebuilt-mpr-archive-keyring.gpg] https://proget.makedeb.org prebuilt-mpr $(lsb_release -cs)" | \
  {{ .sudo -}} tee /etc/apt/sources.list.d/prebuilt-mpr.list
  {{- end }}

  {{- if (stat "/etc/apt/sources.list.d/gierens.list" | not) }}
wget -qO- https://raw.githubusercontent.com/eza-community/eza/main/deb.asc | {{ .sudo -}}gpg --dearmor -o /etc/apt/keyrings/gierens.gpg
echo "deb [signed-by=/etc/apt/keyrings/gierens.gpg] http://deb.gierens.de stable main" | {{ .sudo -}}tee /etc/apt/sources.list.d/gierens.list
  {{- end }}

  {{- if (stat "etc/apt/sources.list.d/docker.list" | not) }}
# Add docker repository
{{ .sudo -}}curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable" | \
  {{ .sudo -}}tee /etc/apt/sources.list.d/docker.list > /dev/null
  {{- end}}

  {{- if ne ($packages | len) 0 }}
{{ .sudo -}}apt update
{{ .sudo -}}apt install \
      {{- range $packages -}}
          {{- if (lookPath . | not) }}
    {{ . }} \
          {{- end }}
      {{- end }}
    -y
  {{- end }}

  {{- if (lookPath "delta" | not) }}
      {{- if eq .chezmoi.arch "amd64" }}
curl -Lo /tmp/git-delta.deb https://github.com/dandavison/delta/releases/latest/download/git-delta_{{ (gitHubLatestRelease "dandavison/delta").TagName }}_amd64.deb
      {{- else if eq .chezmoi.arch "arm64" }}
curl -Lo /tmp/git-delta.deb https://github.com/dandavison/delta/releases/latest/download/git-delta_{{ (gitHubLatestRelease "dandavison/delta").TagName }}_arm64.deb
      {{- end }}
{{ .sudo -}}dpkg -i /tmp/git-delta.deb
  {{- end }}

{{ .sudo }}systemctl enable --now docker.service

{{- end }}
