{{- if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "fedora")) -}}
#!/bin/bash

{{- $packages := list
    "dnf-plugins-core"
    "dnf-utils"
    "gcc"
    "icu"
    "libicu"
    "zsh"
}}

# Add docker repository
{{ .sudo -}}dnf install -y {{ $packages | join " " }}
{{- end }}
