{{- if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu")) -}}
#!/bin/bash

{{- $packages := list
    "build-essential"
    "containerd.io"
    "docker-buildx-plugin"
    "docker-ce"
    "docker-ce-cli"
    "docker-compose-plugin"
    "icu-devtools"
    "libicu-dev"
    "zsh"
}}

{{- $brew_packages := list
    "bat"
    "bottom"
    "curl"
    "exa"
    "eza"
    "fd"
    "fzf"
    "git"
    "git-absorb"
    "git-delta"
    "git-extras"
    "git-lfs"
    "htop"
    "jq"
    "just"
    "neovim"
    "node"
    "prskr/the-prancing-package/git-age"
    "ripgrep"
    "tmux"
    "unzip"
    "vifm"
}}

[ -d /etc/apt/keyrings ] || {{ .sudo -}}mkdir -p /etc/apt/keyrings

  {{- if (stat "etc/apt/sources.list.d/docker.list" | not) }}
# Add docker repository
{{ .sudo -}}curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable" | \
  {{ .sudo -}}tee /etc/apt/sources.list.d/docker.list > /dev/null
  {{- end}}

  {{- if ne ($packages | len) 0 }}
{{ .sudo -}}apt update
{{ .sudo -}}apt install \
      {{- range $packages -}}
          {{- if (lookPath . | not) }}
    {{ . }} \
          {{- end }}
      {{- end }}
    -y
  {{- end }}

{{ .sudo -}}systemctl enable --now docker.service

# Install Homebrew
export NONINTERACTIVE=1
export PATH="$PATH:/home/linuxbrew/.linuxbrew/bin"
bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

brew install {{ $brew_packages | join " " }}

{{- end }}
