{{- $git_email := promptStringOnce . "git_email" "Email address" "mail@berrio.dev" -}}
{{- $git_sign_commits := promptBoolOnce . "git_sign_commits" "Sign commits?" true -}}

[data]
sudo = "{{ if ne .chezmoi.uid "0" }}sudo {{ end }}"

[data.git]
email = {{ $git_email | quote }}
sign_commits = {{ $git_sign_commits }}

[diff]
command = "delta"
args = ["--pager", "always", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
pager = "delta"

[merge]
command = "nvim"
args = ["-d", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Destination {{ "}}" }}"]
