{{- $git_email := promptStringOnce . "git_email" "Email address" "mail@berrio.dev" -}}
{{- $git_sign_commits := promptBoolOnce . "git_sign_commits" "Sign commits?" true -}}

[data]
git_email = {{ $git_email | quote }}
git_sign_commits = {{ $git_sign_commits }}

[diff]
command = "delta"
args = ["{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
pager = "delta"

[merge]
command = "nvim"
args = ["-d", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Destination {{ "}}" }}"]
