export LANG="en_US.UTF-8"

# bin dirs
local_bin="$HOME/.local/bin"
if [ ! -d "$local_bin" ]; then
    mkdir -p "$local_bin"
fi

export PATH="$local_bin:$PATH"
export PATH="$HOME/bin:$PATH"

# Directories
export XDG_CONFIG_HOME="${XDG_CONFIG_HOME:-$HOME/.config}"
{{- if eq .chezmoi.os "darwin" }}
export XDG_CACHE_HOME="$HOME/Library/Caches"
export XDG_DATA_HOME="$HOME/Library"
export XDG_STATE_HOME="$HOME/Library/state"
{{- else if eq .chezmoi.os "linux" }}
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"
{{- end }}

export ZSH_CACHE_DIR="$XDG_CACHE_HOME/zsh"

# Dotnet
if [ -d $HOME/.dotnet/sdk ]; then
    export DOTNET_ROOT="$HOME/.dotnet"
    export PATH="$PATH:$DOTNET_ROOT"
elif [ -d /usr/local/dotnet/sdk ]; then
    export DOTNET_ROOT="/usr/local/dotnet"
    export PATH="$PATH:$DOTNET_ROOT"
elif [ -d /usr/local/share/dotnet/sdk ]; then
    export DOTNET_ROOT="/usr/local/share/dotnet"
    export PATH="$PATH:$DOTNET_ROOT"
fi

# Znap
export ZNAP_HOME=$XDG_DATA_HOME/znap/znap

# ZSH config
export KEYTIMEOUT=1
export WORDCHARS=''

# ZSH options
setopt HIST_EXPIRE_DUPS_FIRST # delete duplicates first when HISTFILE size exceeds HISTSIZE
setopt HIST_IGNORE_DUPS       # ignore duplicated commands history list
setopt HIST_IGNORE_SPACE      # ignore commands that start with space
setopt INC_APPEND_HISTORY     # add commands to HISTFILE in order of execution
setopt autocd
setopt auto_pushd

unsetopt SHARE_HISTORY

# vim: foldmethod=marker
